.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
}

h1 {
  font-size: 30px;
  color: #333;
  text-align: center;
  background-color: #deebee;
  width: 100%;
}

.calculator {
  margin: auto;
}